.top-block {
    height: 100vh;
}

.header {
     background-color: #000;
     display: flex;
     justify-content: center;
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     z-index: 5;
}

.header-container {
    width: 100%;
    max-width: 1900px;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container--navbar {
    display: flex;
}

.navbar-img-container a {
    display: block;
}

.navbar-img {
    width: 90px;
}

.navbar-menu-container {
    display: flex;

}

.navbar-menu--elem {
    text-transform: uppercase;
    padding: 0 20px;
}

.navbar-menu--elem:hover, 
.navbar-lang:hover {
    color: #ef0000;
} 

.navbar-menu--elem,
.navbar-lang {
    font-size: 28px;
    font-weight: 500;
    transition: color .6s;
    color: white;
}

.navbar-lang-container {
    /* width: 100px; */
}

.navbar-lang {
    
}


